@media (min-width:992px) {
    .row {
        display: flex;
    }
    .col-lg-6 {
        width: 49.8%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
@media (min-width:768px) {
    .row {
        display: flex;
    }
    .col-md-6 {
        width: 49.8%;
    }
    .col-md-12 {
        width: 100%;
    }
    
}